body {
    background-color: aquamarine;
}

#heading {
    text-align: center;
    color: orangered;
}

div p {
    text-align: center;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 2rem;
}